.screen{
    /*width:;
    height:;
    s
    margin:auto;
    background-color: aqua;
    color:red;*/
    

}
.st{
    text-align: center;
}

#if{
    display:none;
    background-color: white;
}
